<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <title>详情</title>

<!--    &lt;!&ndash; 引入Vant样式文件 &ndash;&gt;
    <link rel="stylesheet" href="../css/index.css">
    &lt;!&ndash; 引入 Vue 和 Vant 的 JS 文件 &ndash;&gt;
    <script src="../js/vue.min.js"></script>
    <script src="../js/vant.min.js"></script>-->

    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css"/>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <style>
        * {
            padding: 0;
            margin: 0;
            font-size: 14px;
        }

        #app {
            width: 375px;
            margin: 0 auto;
        }

        /*期数样式*/
        .qs-box > span{
            display: inline-block;
            padding: 10px;
        }
        .qsActive{
            color: #ffa300;
        }

        /*图表样式*/
        .ve-ring {
            width: 240px;
            height: 220px;
            display: block;
            margin: 0 auto;
            border: solid 1px red;
            padding-top: 20px;
        }
        .ve-ring>div:first-child{
            height: 220px!important;
        }


        /*滑块样式*/
        .van-slider__button{
            border: solid 2px #ffa300;
            width: 16px;
            height: 16px;
        }
    </style>
</head>
<body>

<div id="app">

    <ve-ring :data="chartData"
             :colors="totalColor"
             :extend="picExtendConfig"
             :legend-visible="false"
             :style="ringStyle"
    ></ve-ring>

    <ul class="">
        <li>总：{{chartsLoans.loansTotal}}</li>
        <li>月：{{chartsLoans.loansMonthTotal}}</li>
        <li>利：{{chartsLoans.loansRatesTotal}}</li>
        <li>续：{{chartsLoans.loansServiceTotal}}</li>
    </ul>

    <div class="qs-box">
        <span v-for="(qsList,index) in detailsArr.qsList" :key="index" @click="checkedQS(qsList,index)"
            :class="qsArr.qsListCurren == index ?'qsActive':'' ">
            {{qsList.name}}
        </span>
    </div>


    <div style="margin-top: 20px">
        <van-slider v-model="chartsLoans.loansTotal"  @change="changeTotal($event)"
                    :max="sliderArr.max"
                    :min="sliderArr.min"
                    :step="sliderArr.step"
                    bar-height="6px"
                    active-color="#ffa300">
        </van-slider>
    </div>

</div>
<script>
    // 在 #app 标签下渲染一个按钮组件  
    var app = new Vue({
        el: '#app',
        data() {
            /*图标设置*/
            this.totalColor = ['#1EAAA1','#FF8A7E','#ffa300','#4CCBEB'];//会员总览 潜在会员 自定义的颜色
            this.picExtendConfig = {
                series:{
                    radius: ['70%','50%'],  //大小
                    center: ['50%', '40%'], // 位置
                    label: {   //去掉指引线
                        normal: {
                            position: 'inner',
                            show: false,
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                }
            };

            return {
                /*图表样式*/
                ringStyle:{
                    height: '220px',
                    width: '240px',
                },

                /*详情arr*/
                detailsArr:{},

                /*滑块*/
                sliderArr:{
                    min:1,
                    max:200,
                    step:1,
                },

                /*期数数组*/
                qsArr:{
                    qsListCurren:0,
                    qsNum:0,
                },

                /*图表*/
                chartData: {
                    columns: ['name', 'value'],
                    rows: []
                },

                /*图表数据*/
                chartsLoans: {
                    loansTotal:0,  //总金额
                    loansMonthTotal:0,  //月供  总金额/期数
                    loansRatesTotal:0,  //总利息  金额*利率*期数
                    loansServiceTotal:0,  //手续费
                },

            }
        },
        methods: {

            /*值 计算 并 渲染 图表*/
            getChartVal(){
                let loansTotal        = Number(this.chartsLoans.loansTotal);     //++ 获取总金额
                let totalQs           = Number(this.qsArr.qsNum);                       //获取总期数
                let interestRate      = Number(this.detailsArr.basicInfoList[0].value);  //获取利率
                let loansMonthTotal   = this.toDecimal2(Number( loansTotal / totalQs ));                 //++ 获取月供 = 总金额/期数
                let loansRatesTotal   = this.toDecimal2(Number(loansTotal * (interestRate /100) * totalQs));  //++ 获取总利息 = 金额*利率*期数
                let loansServiceTotal = this.toDecimal2(Number(this.chartsLoans.loansServiceTotal));      //++ 获取 手续费
                console.log('getChartVal: '+loansTotal);
                this.chartsLoans = {
                    loansTotal:loansTotal,  //总金额
                    loansMonthTotal:loansMonthTotal,  //月供  总金额/期数
                    loansRatesTotal:loansRatesTotal,  //总利息  金额*利率*期数
                    loansServiceTotal:loansServiceTotal,  //手续费
                };
            },

            /*图表 渲染*/
            setChartData(){
                let loansTotal =  this.chartsLoans.loansTotal;
                let loansMonthTotal =  this.chartsLoans.loansMonthTotal;
                let loansRatesTotal =  this.chartsLoans.loansRatesTotal;
                let loansServiceTotal =  this.chartsLoans.loansServiceTotal;
                this.chartData.rows = [
                    {name:"6期",value:loansTotal },
                    {name:"12期",value:loansMonthTotal },
                    {name:"18月份",value:loansRatesTotal },
                    {name:"24月份",value:loansServiceTotal },
                ]
            },

            /*期数选择*/
            checkedQS(val,index){
                this.qsArr.qsListCurren = index;
                this.qsArr.qsNum = val.value;

                this.setChartData();
                this.getChartVal();
            },

            /*修改总金额 步进器*/
            changeTotal(val){
                console.log('changeTotal: '+val);
                this.chartsLoans.loansTotal = val;

                this.setChartData();
                this.getChartVal();

            },



            /*获取详情数据*/
            getDetailArr(){
               let detailsArr ={
                    'loansTotal':'20',
                    "basicInfoList":[
                        {
                            "id":6798345,
                            "productId":1,
                            "name":"利率0.99%",
                            'value':'0.99',
                        }
                    ],
                    "qsList":[
                        {
                            "id":3,
                            "productId":1,
                            "name":"6期",
                            'value':'6',
                        },
                        {
                            "id":34,
                            "productId":1,
                            "name":"12期",
                            'value':'12',
                        },
                        {
                            "id":234,
                            "productId":1,
                            "name":"18期",
                            'value':'18',
                        },
                        {
                            "id":235,
                            "productId":1,
                            "name":"24期",
                            'value':'24',
                        }
                    ],
                };

               this.detailsArr = detailsArr;
               this.qsArr.qsNum = detailsArr.qsList[0].value;
               this.chartsLoans.loansTotal = detailsArr.loansTotal;
            },

            /*转小数点后两位*/
            toDecimal2(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x*100)/100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                console.log(s);
                return s;

            },

        },

        watch:{
            // 'chartsLoans': {
            //     handler(newVal, oldVal) {
            //         console.log(newVal);
            //     },
            //     deep: true,  //深度监听，可以监听到对象里面的值的变化
            // }
        },

        created() {
            this.getDetailArr();

            this.getChartVal();
            this.setChartData();
        },
    });


</script>

</body>
</html>