$themeColor:#ffc500;
$colorBlue:#33b5ff;
$colorOrange:#ff8033;
$colorGreen:#78cd51;
$colorViolet: #8033ff;
$colorGray: rgba(216, 217, 219, 0.45);
$colorGray1: rgba(51, 51, 51, 0.51);
$colorGray2: rgba(216, 217, 219, 0.5);


.address-left{
  text-align: left;
}
.address-city{

}
.address-info{
  font-size: 12px;
  color: $colorGray1;
}

.index-nav-box{
  position: relative;
  box-shadow:-1px 2px 12px 0px rgba(219,219,219,0.79);
  border-radius: .1rem;
}
$navHei:.14rem;
.index-match{
  background-color:#fef5ca;
  padding: $navHei;
  margin-bottom: $navHei;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  .index-match-title{
    font-size: .18rem;
    margin-bottom: 4px;
  }
  .index-match-info{
    color: $colorGray1;
  }
  .btn-match{
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: 8%;
  }
}
.index-nav-main{
  padding:0 $navHei;
  margin-top: .4rem;
}
.index-navItem{
  padding: $navHei;
  background-color: #f7f7f7;
  margin-bottom: $navHei;
  border-radius: .1rem;
  min-height: 1.2rem;
}

/*分类*/
.loan-main{
  .van-tabs__nav--card{
    margin: 0;
  }
  .loan-tab{
    width: 92%;
    margin: 0 auto;
  }
}
