$themeColor:#ffc500;
$colorBlue:#33b5ff;
$colorOrange:#ff8033;
$colorGreen:#78cd51;
$colorViolet: #8033ff;
$colorGray: rgba(216, 217, 219, 0.45);
$colorGray1: rgba(51, 51, 51, 0.51);
$colorGray2: rgba(216, 217, 219, 0.5);


/* 一、首页 */
.address-left{
  text-align: left;
}
.address-city{

}
.address-info{
  font-size: 12px;
  color: $colorGray1;
}

#home{
  .index-swiper{
    margin: .1rem 0;
    .van-image{
      height: 100%;
      img{
        border-radius: 10px;
      }
    }

  }
  .van-swipe-item{
    //background-color: red;
    //border-right: solid 10px #fff;
  }
  .activeNav{
    color: #fff;
  }
}

.index-nav-box{
  position: relative;
  box-shadow:-1px 2px 12px 0px rgba(219,219,219,0.79);
  border-radius: .1rem;
}
$navHei:.14rem;
.index-match{
  background-color:#fef5ca;
  padding: .24rem;
  margin-bottom: $navHei;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  .index-match-title{
    font-size: .18rem;
    margin-bottom: 4px;
  }
  .index-match-info{
    color: $colorGray1;
  }
  .btn-match{
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: 8%;
    font-size: 0.14rem;
  }
}
.index-nav-main{
  padding:0 $navHei;
  margin-top: .4rem;
}
.index-navItem{
  padding: $navHei;
  background-color: #f7f7f7;
  margin-bottom: $navHei;
  border-radius: .1rem;
  min-height: 1.2rem;
  .index-navTitle{
    font-size: .18rem;
    margin-bottom: .1rem;
  }
  .index-navSub{
    color: $colorGray1;
  }
}


/* 二、分类*/
#loanTabs{
  .van-tabs__nav--card{
    margin: 0;
    border: none;
    height: .36rem;
  }

   .van-tabs__wrap{
    height: .36rem;
  }

  .van-tab{
    flex: 0 0 30%!important;
    border: solid 1px $themeColor;
    color: $themeColor;
    margin-right: .2rem;
    border-radius: 6px;
    line-height: .36rem;
  }
  .van-tab--active {
    color: #fff;
    background-color: $themeColor;
  }

  .loan-tab{
    width: 100%;
    margin-top: .2rem;
    //border:solid 1px red;
    min-height: 200px;
  }


  .fire-list{
    background-color: #fff;
    margin-bottom: .16rem;
    border-radius:6px;
    font-size: .1rem;
    box-shadow:-1px 2px 12px 0px rgba(219,219,219,0.79);
    text-align: center;
    border:solid 1px rgba(219,219,219,0.4);
    //border: solid 1px red;
    > *{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
    }
  }
  .fire-img{
    width: 50%;
    margin: 4px auto;
    display: block;
    height:.5rem;
  }
  .fire-title{
    font-size: .12rem;
  }
  .fire-month{
    background-color: #f0f8ff;
    border-radius: 4px;
    padding: 4px;
    width: 90%;
    margin: 4px auto 0;
  }
  .fire-quoto{
    color: $themeColor;
  }

  .btnLook-fire{
    background-color: $themeColor;
    width: 100%;
    border: none;
    color: #fff;
    height: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0;
    font-size: .14rem;
    margin-top:4px
  }

}



/* 三、银行详情*/
.detail-item{
  padding: .1rem;
  box-shadow:-1px 2px 12px 0px rgba(219,219,219,0.79);
  border:solid 1px rgba(219,219,219,0.4);
  position: relative;
  border-radius: 6px;
  min-height: .2rem;
  margin-bottom: .2rem;
}
.detail-header{
  display: flex;
}
.dHeader-tip{
  position: absolute;
  right: 0;
  top: 0;
  background-color: $themeColor;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  padding: 2px 8px;
}
.dHeader-img{
  width: .8rem;
  height: .8rem;
  border-radius: 6px;
  border: solid 1px $colorGray;
  img{
    border-radius: 6px;
  }
}
.dHeader-info{
  width: calc(100% - .8rem);
  padding: 0  .1rem;
  .dHeader{
    font-size: .15rem;
  }
}
@mixin good{
  font-size: .13rem;
  border-radius: 4px;
}
.dHeader-good{
  margin: 6px 0 0;
  span{
    @include good();
    background-color: $themeColor;
    color: #fff;
    padding: 2px 4px;
    margin-right: 4px;
  }
}

.dHeader-good2{
  margin-top: .1rem;
  span{
    @include good();
    background-color: $colorGray;
    color: $themeColor;
    padding: 2px .1px;
    width: 30%;
    text-align: center;
    display: inline-block;
    &:not(:last-child){
      margin-right: 5%;
    }
  }
}

.Ditem-title{
  text-align: center;
  //margin: .2rem 0;
}
.Ditem-info{
  font-size: .13rem;
  padding: .1rem;
}


/*期数样式*/
.qs-box{
  display: flex;
  margin-top: .1rem;
  .van-button {
    text-align: center;
    background-color: $colorGray;
    border-radius: 4px;
    width: 23.5%;
    padding: .06rem ;
    height: auto;
    line-height: inherit;
    &:not(:nth-child(4n)) {
      margin-right: 2%;
    }
  }
  .qsActive{
    color: #fff;
    background-color: #ffa300;
  }
}
.detail-slider{
  margin: .3rem 0 .2rem;
}

/*图表样式*/
.ve-ring {
  width: 220px;
  height: 130px;
  display: block;
  margin: 0 auto;
  //border: solid 1px red;;
}
.ve-ring>div:first-child{
  height: 130px!important;
}


/*滑块样式*/
.van-slider__button{
  border: solid 2px #ffa300;
  width: .16rem;
  height: .16rem;
}

$loansTotal:#ffa300;
$loansMonthTotal:#1EAAA1;
$loansRatesTotal:#FF8A7E;
$loansServiceTotal:#4CCBEB;

.chart-info{
  display: flex;
  li{
    text-align: center;
    background-color: $colorGray;
    border-radius: 4px;
    width: 23.5%;
    &:not(:nth-child(4n)) {
      margin-right: 2%;
    }
    &:first-child{
      border-top: solid 3px  $loansTotal;  //background-color: $loansTotal;
    }
    &:nth-child(2){
      border-top: solid 3px $loansMonthTotal;
    }
    &:nth-child(3){
      border-top: solid 3px $loansRatesTotal;
    }
    &:nth-child(4){
      border-top: solid 3px $loansServiceTotal;
    }
    span{
      font-size: .12rem;
      margin-bottom: 2px;
    }
  }
  .loans-num{
    font-size: .18rem;
    font-weight: 500;
    margin-bottom: -5px;
  }
}
 .chart-info2{
   display: flex;
   justify-content: space-between;
   li{
     width: 10px;
     height: 10px;
     display: block;
     text-align: center;
     border-radius: 2px;
     margin: 0 auto 8px;
     &:first-child{
       background-color: $loansTotal;
     }
     &:nth-child(2){
       background-color: $loansMonthTotal;
     }
     &:nth-child(3){
       background-color:$loansRatesTotal;
     }
     &:nth-child(4){
       background-color: $loansServiceTotal;
     }
   }
 }
