<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    let arr=['zhengMing','jueXing','xieE','mingYun'];
    let inc = arr.includes('gongPing');
    let inc2 = arr.includes('xieE');
    console.log(inc);
    console.log(inc2);

    let indexArr = arr.indexOf('zhengMing');
    console.log(indexArr);  //2

    let arr2 = arr.splice(2,1);
    console.log(arr2); //['xieE'];
    console.log(arr); //['zhengMing','jueXing','mingYun'];

</script>
</body>
</html>