<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <title>Title</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.5/lib/index.css">

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.5/lib/vant.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        *{
            padding: 0;
            margin: 0;
            font-size: 14px;
        }
        #app{
            width: 378px;
            margin: 0 auto;
            border: solid 1px red;
        }
        .info-box{
            display: inline-flex;
        }
        .info-box .van-radio__icon {
            -webkit-box-flex: 0;
            -webkit-flex: none;
            flex: none;
            height: auto;
            font-size: 14px;
            line-height: initial;
            cursor: pointer;
        }
        .infoRadio{
            padding: 10px;
            background-color: #ddd;
            margin-right: 10px;
            border-radius: 4px;
        }
        .activeRadio{
            background-color: #ffa300;
            color: #fff;
        }
    </style>
</head>
<body>

<div id="app">

    <van-radio-group v-model="userChecked.hyzk" class="info-box">
        <van-radio :name="item.name" v-for="(item,index) in userInfo.hyzk" :key="item.id">
            <template #icon="props">
                <div class="infoRadio" :class="props.checked ? activeRadio : ''">{{item.value}}</div>
            </template>
        </van-radio>
    </van-radio-group>

    <!--<van-radio-group v-model="userChecked.hj" class="radio-item">
        <van-radio :name="item.name" v-for="(item,index) in userInfo.hj" :key="item.id">
            <template #icon="props">
                <div :class="props.checked ? activeRadio : infoRadio">{{item.value}}</div>
            </template>
        </van-radio>
    </van-radio-group>-->

    <!--<van-radio-group v-model="userChecked.dwxz" class="radio-item">
        <van-radio :name="item.name" v-for="(item,index) in userInfo.dwxz" :key="item.id">
            {{item.value}}
        </van-radio>
    </van-radio-group>-->


    <button @click="sub" style="display: block">提交</button>


</div>
<script>
    // 在 #app 标签下渲染一个按钮组件
    new Vue({
        el: '#app',
        data() {
            return {
                showNext:false,  //下一个按钮是否显示
                activeRadio: 'activeRadio',  //选中的radio

                userChecked: {
                    age: '',          // 1、年龄
                    hyzk: '',         // 3、婚姻状况
                    hj: '',           // 4、户籍
                    dwxz: '',         // 5、单位性质
                    gzffxs: '',       // 6、工资发放形式
                    pjgz: '',         // 7、平均工资
                    bdwgzsc: '',      // 8、本单位工作时长
                    sbjs: '',         // 9、社保基数
                    sb_jnsc: '',      // 10、社保缴纳时长
                    sb_xdwjnsc: '',   // 11、社保现单位缴纳时长
                    gjjjs: '',        // 12、公积金基数
                    gjj_jnsc: '',     // 13、公积金缴纳时长
                    gjj_xdwjnsc: '',  // 14、公积金现单位缴纳时长
                    yyzznx: '',       // 15、营业执照年限
                    dwsfkc: '',       // 16、单位是否考察
                    dgls: '',         // 17、对公流水
                    gskpje: '',       // 18、公司开票金额
                    gsnsje: '',       // 19、公司纳税金额
                    fclx: '',         // 20、房产类型
                    ajz: '',          // 21、按揭中（月供时间）
                    ajjq: '',         // 22、按揭结清（结清时间）
                    qkf: '',          // 23、全款房（过户时间）
                    fl: '',           // 24、房龄
                    ajc: '',          // 25、按揭车（按揭时间）
                    qkc: '',          // 26、全款车（按揭结清或过户时间）
                    clsyc: '',        // 27、车辆所有权
                    clxz: '',         // 28、车辆性质
                    clczsj: '',       // 29、车辆持证时间
                    clgsd: '',        // 30、车辆归属地
                    cl: '',           // 31、车龄
                    jqxsyyxq: '',     // 32、交强险剩余有效期
                    xsgls: '',        // 33、行驶公里数
                    syxsyyxq: '',     // 34、商业险剩余有效期
                    bxlx: '',         // 35、保险类型
                    bxjnfs: '',       // 36、保险缴纳方式
                    bxjfsj: '',       // 37、保险缴费时间
                    ygyncxcs: '',     // 38、一个月内查询次数
                    lgyncxcs: '',     // 39、两个月内查询次数
                    sgyncxcs: '',     // 40、三个月内查询次数
                    liugyncxcs: '',   // 41、六个月内查询次数
                    segyncxcs: '',    // 42、十二个月内查询次数
                    dqxebs: '',       // 43、当前小额笔数
                    dqxfjrbs: '',     // 44、当前消费金融笔数
                    sfczyc: '',       // 45、贷款/信用卡是否存在止付；呆账；关注等异常
                    dqyqed: '',       // 46、当前逾期额度
                    bnn_wyq: '',      // 47、近半年内有无逾期
                    bnn_yqygycs: '',  // 48、近半年内逾期一个月次数
                    bnn_yqlgycs: '',  // 49、近半年内逾期两个月次数
                    bnn_yqsgycs: '',  // 50、近半年内逾期三个月次数
                    bnn_yqsigycs: '', // 51、近半年内逾期四个月次数
                    ynn_wyq: '',      // 52、近一年内有无逾期
                    ynn_yqygycs: '',  // 53、近一年内逾期一个月次数
                    ynn_yqlgycs: '',  // 54、近一年内逾期二个月次数
                    ynn_yqsgycs: '',  // 55、近一年内逾期三个月次数
                    ynn_yqsigycs: '', // 56、近一年内逾期四个月次数
                    lnn_wyq: '',      // 57、近两年内有无逾期
                    lnn_yqygycs: '',  // 58、近两年内逾期一个月次数
                    lnn_yqlgycs: '',  // 59、近两年内逾期二个月次数
                    lnn_yqsgycs: '',  // 60、近两年内逾期三个月次数
                    lnn_yqsigycs: '', // 61、近两年内逾期四个月次数
                    sfsygwld: '',     // 62、是否使用过微粒贷
                },

                userInfo: {
                    hyzk: [   //婚姻状况
                        {id: 'hyzk1', name: '1', value: '单选'},
                        {id: 'hyzk2', name: '2', value: '单选单选'},
                        {id: 'hyzk3', name: '3', value: '单选单'},
                        {id: 'hyzk4', name: '4', value: '单选(单选/多选)'},
                    ],
                   /* hyzk: [   //婚姻状况
                        {id: 'hyzk1', name: '1', value: '已婚'},
                        {id: 'hyzk2', name: '2', value: '未婚'},
                        {id: 'hyzk3', name: '3', value: '离异'},
                        {id: 'hyzk4', name: '4', value: '丧偶'},
                    ],*/
                    hj: [     //户籍
                        {id: 'hj1', name: '1', value: '大陆'},
                        {id: 'hj2', name: '2', value: '港澳台'},
                        {id: 'hj3', name: '3', value: '外籍'},
                    ],
                    dwxz: [  //单位性质
                        {id: 'dwxz1', name: '1', value: '普通企业'},
                        {id: 'dwxz2', name: '2', value: '公务员'},
                        {id: 'dwxz3', name: '3', value: '500强'},
                        {id: 'dwxz4', name: '4', value: '上市公司'},
                        {id: 'dwxz5', name: '5', value: '事业单位'},
                        {id: 'dwxz6', name: '6', value: '国企'},
                    ],
                    dwxz2: [  //单位性质
                        {id: 'dwxz1', name: '1', value: '普通企业'},
                        {id: 'dwxz2', name: '2', value: '公务员'},
                        {id: 'dwxz3', name: '3', value: '500强'},
                        {id: 'dwxz4', name: '4', value: '上市公司'},
                        {id: 'dwxz5', name: '5', value: '事业单位'},
                        {id: 'dwxz6', name: '6', value: '国企'},
                    ],
                    dwxz: [  //单位性质
                        {id: 'dwxz1', name: '1', value: '普通企业'},
                        {id: 'dwxz2', name: '2', value: '公务员'},
                        {id: 'dwxz3', name: '3', value: '500强'},
                        {id: 'dwxz4', name: '4', value: '上市公司'},
                        {id: 'dwxz5', name: '5', value: '事业单位'},
                        {id: 'dwxz6', name: '6', value: '国企'},
                    ],

                },
            }
        },
        methods: {
            get() {
                axios.get('https://spt.zmtek.net/Admin/Statis/total_revenue')
                    .then(res => {
                        console.log(res);
                    })
                    .catch(res => {
                        console.log(res);
                    });
            },

            sub() {
                console.log(this.userChecked);
                if(!this.userChecked.hyzk && !this.userChecked.hj){
                    this.showNext = true;  //进入到下一个

                }
            },
        },
        created() {
            // this.get();
        },

    });

    // 调用函数组件，弹出一个 Toast
    // vant.Toast('提示');
</script>


</body>
</html>