<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <title>Title</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.5/lib/index.css">

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.5/lib/vant.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
            font-size: 14px;
        }

        #app {
            width: 378px;
            margin: 0 auto;
            border: solid 1px red;
            background-color: #ddd;
        }

        .info-box {
            display: inline-flex;
        }

        .info-box .van-radio__icon {
            -webkit-box-flex: 0;
            -webkit-flex: none;
            flex: none;
            height: auto;
            font-size: 14px;
            line-height: initial;
            cursor: pointer;
        }

        .infoRadio {
            padding: 10px;
            background-color: #ddd;
            margin-right: 10px;
            border-radius: 4px;
        }

        .activeRadio {
            background-color: #ffa300;
            color: #fff;
        }

        .activeInfoNav {
            color: #ffa300;
        }
        .activeTabBasic{
            color: #ffa300;
        }
        .headerInfo-nav{

        }

        .info-item{
            width: 94%;
            margin: 10px auto 0;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
        }

        .box{
            width: calc(100% + 50px);
            margin-left: -25px;
            margin-top: -100px;
            height: 280px;
            background: #8705f0;
            background: linear-gradient(to bottom right, #4dbef2, #4dbef2);
            -moz-border-radius: 100% / 50%;
            -webkit-border-radius: 100% / 50%;
            border-radius: 100% / 50%;
        }
    </style>
</head>
<body>

<div id="app">

<!--    <div class="box"></div>-->

    <!--顶部三大步骤导航-->
    <van-row class="headerInfo-nav">
        <van-col span="8" v-for="(item,index) in btnCreditArr" :key="item.id">
            <van-button :disabled="item.disabled" @click="btnShowCredit(item)"
                        :class="item.id == headerInfoIndex ? 'activeInfoNav' : ' ' ">{{item.name}}
            </van-button>
        </van-col>
    </van-row>

    <!-- 一、 基本信息-->
    <div v-if="showStatePage.basicShow">


        <div>
            <van-button @click="btnTabBasic(item)" v-for="(item,index) in BasicTabArr" :key="item.id"
                        :class="item.id == tabBasicIndex ? 'activeTabBasic' : ' ' ">{{item.name}}
            </van-button>
        </div>

        <!--基本信息 通用部分-->
        <div>
            <div class="info-item">
                <h4>年纪</h4>
                <div></div>
            </div>

            {{userChecked.age}}
            <van-slider v-model="userChecked.age" @change="changeAge" min="18" max="75"/>
        </div>

        <!--社保-->
        <div v-show="tabBasicIndex  == 1 || tabBasicIndex  == 2">
            社保
        </div>

        <!--基本信息 信用贷款部分-->
        <div v-show="tabBasicIndex  ==1">

            <div v-show="userChecked.hyzk">

                <van-radio-group v-model="userChecked.hyzk4" class="info-box">
                    <van-radio :name="item.name" v-for="(item,index) in userInfo.hyzk" :key="item.id">
                        <template #icon="props">
                            <div class="infoRadio" :class="props.checked ? activeRadio : ' ' ">{{item.value}}</div>
                        </template>
                    </van-radio>
                </van-radio-group>

            </div>
        </div>

        <!--基本信息 房抵贷款 部分-->
        <div v-show="tabBasicIndex  == 2">

            <div class="info-item">
                <h4>aa</h4>
                <div >
                    <div>{{userChecked.bnn_yqygycs}}</div>
                    <van-stepper v-model="userChecked.bnn_yqygycs" min="0"/>
                </div>
            </div>

        </div>

        <!--基本信息 车抵贷款 部分-->
        <div v-show="tabBasicIndex  == 3">
            车
        </div>

        <van-button @click="btnNext('assetsInfo')" v-show="showNextBtn.basicNext">下一步</van-button>
        <van-button @click="btnNext('submit')"  >提交</van-button>
    </div>

    <!--二、 资产信息 -->
    <div v-else-if="showStatePage.assetsShow">



        <van-button @click="btnNext('creditInfo')" v-show="showNextBtn.assetsNext">下一步</van-button>

    </div>

    <!--三、征信信息-->
    <div v-else>


        <van-button @click="btnNext('submit')" v-show="showNextBtn.creditNext">提交</van-button>
    </div>



</div>
<script>
    // 在 #app 标签下渲染一个按钮组件
    new Vue({
        el: '#app',
        data() {
            return {
                loadingShow:false,
                headerInfoIndex: 1,  //头部 当前
                // basicTabActive: 0, //第一部分 tab显隐
                tabBasicIndex: 0, //基本信息 三大导航  tab显隐
                activeRadio: 'activeRadio',  //选中的radio样式

                /*三大步骤导航 按钮*/
                btnCreditArr: [
                    {id: 1, name: '一一一一', disabled: true, type: 'basicInfo'},
                    {id: 2, name: '二二二二', disabled: true, type: 'assetsInfo'},
                    {id: 3, name: '三三三三', disabled: true, type: 'creditInfo'},
                ],

                /*三大步骤导航页面 对应显隐*/
                showStatePage: {
                    basicShow: true,
                    assetsShow: false,
                    creditShow: false,
                },

                /*基本信息 tab*/
                BasicTabArr:[
                    {id: 1, name: '一一一一', type: 'tabCredit'},
                    {id: 2, name: '二二二二', type: 'tabHouse'},
                    {id: 3, name: '三三三三', type: 'tabCar'},
                ],

                /*三大 next 导航 按钮 对应显影*/
                showNextBtn: {
                    basicNext: false,
                    assetsNext: false,
                    creditNext: false,
                },


                /*用户选中*/
                userChecked: {
                    age: 0,          // 1、年龄
                    hyzk: -1,         // 3、婚姻状况
                    hj: -1,           // 4、户籍
                    dwxz: -1,         // 5、单位性质
                    gzffxs: -1,       // 6、工资发放形式
                    pjgz: -1,         // 7、平均工资
                    bdwgzsc: -1,      // 8、本单位工作时长
                    sbjs: -1,         // 9、社保基数
                    sb_jnsc: -1,      // 10、社保缴纳时长
                    sb_xdwjnsc: -1,   // 11、社保现单位缴纳时长
                    gjjjs: -1,        // 12、公积金基数
                    gjj_jnsc: -1,     // 13、公积金缴纳时长
                    gjj_xdwjnsc: -1,  // 14、公积金现单位缴纳时长
                    yyzznx: -1,       // 15、营业执照年限
                    dwsfkc: -1,       // 16、单位是否考察
                    dgls: -1,         // 17、对公流水
                    gskpje: -1,       // 18、公司开票金额
                    gsnsje: -1,       // 19、公司纳税金额
                    fclx: -1,         // 20、房产类型
                    ajz: -1,          // 21、按揭中（月供时间）
                    ajjq: -1,         // 22、按揭结清（结清时间）
                    qkf: -1,          // 23、全款房（过户时间）
                    fl: -1,           // 24、房龄
                    ajc: -1,          // 25、按揭车（按揭时间）
                    qkc: -1,          // 26、全款车（按揭结清或过户时间）
                    clsyc: -1,        // 27、车辆所有权
                    clxz: -1,         // 28、车辆性质
                    clczsj: -1,       // 29、车辆持证时间
                    clgsd: -1,        // 30、车辆归属地
                    cl: -1,           // 31、车龄
                    jqxsyyxq: -1,     // 32、交强险剩余有效期
                    xsgls: -1,        // 33、行驶公里数
                    syxsyyxq: -1,     // 34、商业险剩余有效期
                    bxlx: -1,         // 35、保险类型
                    bxjnfs: -1,       // 36、保险缴纳方式
                    bxjfsj: -1,       // 37、保险缴费时间
                    ygyncxcs: '0',     // 38、一个月内查询次数
                    lgyncxcs: '0',     // 39、两个月内查询次数
                    sgyncxcs: -1,     // 40、三个月内查询次数
                    liugyncxcs: -1,   // 41、六个月内查询次数
                    segyncxcs: -1,    // 42、十二个月内查询次数
                    dqxebs: -1,       // 43、当前小额笔数
                    dqxfjrbs: -1,     // 44、当前消费金融笔数
                    sfczyc: -1,       // 45、贷款/信用卡是否存在止付；呆账；关注等异常
                    dqyqed: -1,       // 46、当前逾期额度
                    bnn_wyq: -1,      // 47、近半年内有无逾期
                    bnn_yqygycs: -1,  // 48、近半年内逾期一个月次数
                    bnn_yqlgycs: -1,  // 49、近半年内逾期两个月次数
                    bnn_yqsgycs: -1,  // 50、近半年内逾期三个月次数
                    bnn_yqsigycs: -1, // 51、近半年内逾期四个月次数
                    ynn_wyq: -1,      // 52、近一年内有无逾期
                    ynn_yqygycs: -1,  // 53、近一年内逾期一个月次数
                    ynn_yqlgycs: -1,  // 54、近一年内逾期二个月次数
                    ynn_yqsgycs: -1,  // 55、近一年内逾期三个月次数
                    ynn_yqsigycs: -1, // 56、近一年内逾期四个月次数
                    lnn_wyq: -1,      // 57、近两年内有无逾期
                    lnn_yqygycs: -1,  // 58、近两年内逾期一个月次数
                    lnn_yqlgycs: -1,  // 59、近两年内逾期二个月次数
                    lnn_yqsgycs: -1,  // 60、近两年内逾期三个月次数
                    lnn_yqsigycs: -1, // 61、近两年内逾期四个月次数
                    sfsygwld: -1,     // 62、是否使用过微粒贷
                },

                /*所有单选 数组*/
                userInfo: {
                    hyzk: [   //婚姻状况
                        {id: 'hyzk1', name: '1', value: '单选'},
                        {id: 'hyzk2', name: '2', value: '单选单选'},
                        {id: 'hyzk3', name: '3', value: '单选单'},
                        {id: 'hyzk4', name: '4', value: '单选(单选/多选)'},
                    ],
                    hyzk2: [   //婚姻状况
                        {id: 'hyzk1', name: '1', value: '单选2'},
                        {id: 'hyzk2', name: '2', value: '单选单选2'},
                        {id: 'hyzk3', name: '3', value: '单选单2'},
                    ],
                    hyzk3: [   //婚姻状况
                        {id: 'hyzk1', name: '1', value: '单选3'},
                        {id: 'hyzk2', name: '2', value: '单选单选3'},
                        {id: 'hyzk3', name: '3', value: '单选单3'},
                    ],
                    hyzk4: [   //婚姻状况
                        {id: 'hyzk1', name: '1', value: '单选4'},
                        {id: 'hyzk2', name: '2', value: '单选单选4'},
                        {id: 'hyzk3', name: '3', value: '单选单4'},
                    ],
                    /* hyzk: [   //婚姻状况
                         {id: 'hyzk1', name: '1', value: '已婚'},
                         {id: 'hyzk2', name: '2', value: '未婚'},
                         {id: 'hyzk3', name: '3', value: '离异'},
                         {id: 'hyzk4', name: '4', value: '丧偶'},
                     ],*/

                    /*   hj: [     //户籍
                           {id: 'hj1', name: '1', value: '大陆'},
                           {id: 'hj2', name: '2', value: '港澳台'},
                           {id: 'hj3', name: '3', value: '外籍'},
                       ],*/

                },
            }
        },
        methods: {
            get() {
                axios.get('https://spt.zmtek.net/Admin/Statis/total_revenue')
                    .then(res => {
                        console.log(res);
                    })
                    .catch(res => {
                        console.log(res);
                    });
            },

            changeAge(){

            },


            /*三大信用状态 点击显隐*/
            btnShowCredit(val) {
                console.log(val);
                this.headerInfoIndex = val.id;

                this.changeShowState(val.type);
            },

            /* 基本信息 三大导航 tab */
            btnTabBasic(val){
                console.log(val);
                this.tabBasicIndex = val.id;
            },

            /*下一步*/
            btnNext(type) {
                console.log(type);

                this.changeShowState(type);
            },

            /*显隐状态*/
            changeShowState(type) {
                // basicInfo,assetsInfo,creditInfo
                if (type == 'basicInfo') {
                    this.showStatePage = {
                        basicShow: true,
                        assetsShow: false,
                        creditShow: false,
                    };
                    this.headerInfoIndex = 1;
                    this.btnCreditArr[0].disabled = true;

                }

                if (type == 'assetsInfo') {
                    this.showStatePage = {
                        basicShow: false,
                        assetsShow: true,
                        creditShow: false,
                    };
                    this.headerInfoIndex = 2;
                    this.showStatePage.assetsShow = true;
                    this.btnCreditArr[0].disabled = false;
                    this.btnCreditArr[1].disabled = true;

                }

                if (type == 'creditInfo') {
                    this.showStatePage = {
                        basicShow: false,
                        assetsShow: false,
                        creditShow: true,
                    };
                    this.headerInfoIndex = 3;
                    this.showStatePage.assetsShow = false;
                    this.showStatePage.creditShow = true;
                    this.btnCreditArr[0].disabled = false;
                    this.btnCreditArr[1].disabled = false;
                    this.btnCreditArr[2].disabled = true;
                }

                if (type == 'submit') {
                    console.log('提交ing');

                    console.log(this.userChecked);
                }

            },
        },
        watch: {
            userChecked: {
                handler(newVal, objVal) {
                    console.log(newVal);

                    /*第一部分 基本信息 有值*/
                    if (newVal.hyzk) {
                        this.showNextBtn = {
                            basicNext: true,
                            assetsNext: false,
                            creditNext: false,
                        };
                    }


                    /*第二部分 资产信息 有值*/
                    if (newVal.hyzk2) {
                        this.showNextBtn = {
                            basicNext: true,
                            assetsNext: true,
                            creditNext: false,
                        };
                    }

                    /*第三部分 征信信息 有值*/
                    if (newVal.hyzk3) {
                        this.showNextBtn = {
                            basicNext: true,
                            assetsNext: true,
                            creditNext: true,
                        };
                    }
                },
                deep: true,  //深度监听，可以监听到对象里面的值的变化
                // immediate: true,   //默认为false，初始化就开始监听
            }
        },

        created() {

        },

    });


</script>

</body>
</html>